.library {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas: 'navigation view';
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;
  .navigation {
    grid-area: navigation;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;
    // background-color: blue;
    margin-top: 80px;
    .navigation-component {
      margin: auto;
    }
  }
  .outlet {
    grid-area: view;
    width: 100%;
    background-color: green;
  }
}
