form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-family: 'roboto', sans-serif;
  width: 22vw;
  input {
    transition: all 200ms ease-in-out;
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 10px 15px;
    margin: 5px;
    width: 100%;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    &:focus {
      box-shadow: 0 0 2px 2px #4bebd6d0;
    }
    &.error {
      box-shadow: 0 0 3px 2px #ec5454;
    }
  }
  .errorlist {
    width: 100%;
    padding: 5px 0 10px 0;
    margin: 0;
    color: #ec5454;
    list-style: none;
    font-size: 13px;
    li {
      margin-bottom: 2px;
    }
  }
  button {
    border: none;
    padding: 0 15px;
    box-sizing: content-box;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #95e1d3;
  }
}
