<div
  class="container"
  [ngStyle]="{
    background:
      'linear-gradient(180deg, rgba(' +
      color +
      ', ' +
      gradientOpacity +
      ') 30px, #111111 ' +
      gradientExtent +
      'px)'
  }"
>
  <h1 #heading [ngStyle]="{ color: 'rgb(' + color + ')', opacity: 1 }">
    {{ title }}
  </h1>
  <app-horizontal-list [header]="'New releases'"></app-horizontal-list>
  <br />
  <br />
  <app-horizontal-list
    [count]="30"
    [header]="'Popular playlist'"
  ></app-horizontal-list>
</div>
