<div
  class="container"
  [ngStyle]="{
    background:
      'linear-gradient(180deg, rgba(' +
      color +
      ', ' +
      gradientOpacity +
      ') 30px, #111111 ' +
      gradientExtent +
      'px)'
  }"
>
  <h1 #heading [ngStyle]="{ color: 'rgb(' + color + ')', opacity: 1 }">
    {{ title }}
  </h1>
  <div *ngFor="let category of categories">
    <app-horizontal-list
      [header]="category.title"
      [items]="category.items"
      [cardType]="cardType"
    ></app-horizontal-list>
    <br />
    <br />
  </div>
</div>
