<div class="container">
  <div class="header">
    <p>{{ music.title }}</p>
    <i (mousedown)="toggleActions(true)" class="material-icons">more_vert</i>
  </div>
  <div class="artists">
    <p *ngFor="let artist of music.artists; last as isLast">
      {{ artist.name }}
      <span *ngIf="!isLast">
        <div class="seperator"></div>
      </span>
    </p>
  </div>
</div>

<app-actions
  class="actions"
  *ngIf="selected"
  @floatInTrigger
  @floatOutTrigger
  [actions]="actions"
  [music]="music"
></app-actions>
