@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  input {
    font: normal 700 15px 'roboto', sans-serif;
    color: black;
    width: 100%;
    background-color: white;
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 30px 0 10px;
    transition: all 200ms ease-in-out;
    box-shadow: 0 5px 10px black;
    &.activated {
      box-shadow: 0 5px 12px 6px black;
    }
    &::placeholder {
      text-align: center;
      color: rgb(70, 70, 70);
      opacity: 1;
    }
  }
  .cancel-search {
    animation: opacity 350ms;
    position: absolute;
    right: 0;
    margin-right: 5px;
    cursor: pointer;
    user-select: none;
    color: rgba($color: black, $alpha: 0.9);
  }
}
