div {
  display: grid;
  grid-template-areas: 'navbar content';
  height: 100%;
  grid-template-columns: 230px 1fr;
  grid-template-rows: 1fr;
  &.navbar {
    grid-area: navbar;
  }
  &.content {
    grid-area: content;
    display: grid;
    grid-template-areas:
      'view-controller'
      'router-outlet';
    grid-template-rows:
      80px
      1fr;
    grid-template-columns: 1fr;
    overflow: scroll;
    height: 100vh;

    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    .router-outlet {
      grid-area: router-outlet;
      display: initial;
    }
    .app-view-controller {
      width: 100%;
      grid-area: view-controller;
      display: initial;
    }
  }
}
