div {
  height: calc(100vh - 80px);
  // width: 100%;
  display: grid;
  grid-template-areas: 'banner track-list';
  grid-template-columns: 35% 1fr;
  padding: 0 60px 0 60px;
  .banner {
    grid-area: banner;
    display: initial;
  }
  .track-list {
    grid-area: track-list;
    display: initial;
  }
}
