a {
  text-decoration: none;
  user-select: none;
  h1 {
    font-family: 'roboto', sans-serif;
    color: grey;
    // font-weight: 500;
    font-size: 35px;
    transition: all 150ms ease;
  }
  &.active h1 {
    color: white;
    // font-size: 40px;
    // font-weight: 700;
    transform: scale3d(1.2, 1.2, 1) translateX(10px);
  }
}
