@keyframes spread-out {
  from {
    padding: 0px;
    margin: 5px;
  }
  to {
    padding: 5px;
    margin: 0;
  }
}

@keyframes spread-in {
  from {
    padding: 5px;
    margin: 0;
  }
  to {
    padding: 0px;
    margin: 5px;
  }
}

div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
  i {
    padding: 0px;
    margin: 5px;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
    animation: spread-in 150ms ease-in-out;
    // animation-direction: reverse;
  }
  p {
    margin: 20px;
  }
  &:hover {
    i {
      padding: 5px;
      margin: 0px;
      background-color: rgb(40, 40, 40);
      animation: spread-out 200ms ease-in-out;
      animation-direction: normal;
    }
  }
}
